{% extends "base.html" %}
    {% block head %}
    <script src="static/title_generator.js"></script>
    {% endblock %}
    {% block body %}
    <h1>Title Generator</h1>
    <p>If you're looking for just a little bit of inspiration or fun then try out this title generator. You can take what it gives you and write a story based on it or just laugh at some of the crazy combinations that come up.</p>
    <hr>
    <p id="title"></p>
    <button type="button" class="btn btn-sm btn-primary" onclick="get_title()">Get Title</button>
    {% endblock %}